@charset "utf-8";



main{}
.sub_bg{}
.sub_bg img{}

section{
  position: relative;
  height: 1000px;
}


.all{
  text-align: center;
  top: 300px;
  left: 100px;
}
.all::after{
  content: "";
  display: block;
  clear: both;
}
.all li{
  float: left;
  position: relative;
}
.all li.active>a{
  background: #000000;
  color: #fff;
}
.all>li>a:hover{
 box-shadow: 0 0 3px #000;
}
.all>li>a{
  font-size: 1.6rem;
  display: inline-block;
  background: #d8c074;
  padding: 5px;
  width: 150px;
  margin: 15px;
  border-radius: 50px;
}
.all>li>div{
  position: absolute;
  width: 1200px;
  height: 0;
  overflow: hidden;
}
.all>li.active>div{
  height: 900px;
}

.hi{
}
.hi h3,.map h3{
  font-size: 2rem;
  padding: 2rem;
  letter-spacing: 3px;
}
.hi .icon img{
  margin-bottom: 3rem;
}
.hi p{
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 35px;
}

.hi_img{
  overflow: hidden;
/*  height: 600px;*/
}
.hi_img img:nth-child(1){
		float: left;
}
.hi_img img:nth-child(2){
		float:right;
}
.hi_img img{
  width: 555px;
  margin: 20px;
}

.map{
  position: absolute;
  left: -190px;
}
.map h3{}

.icon{}
.icon img{}
.sub_add{
		height: 50px;
		line-height: 50px;
}
.sub_add img{
/*
  width: 30px;
	height: 33px;
*/
	margin-top: 30px;
}
.sub_add span{
  font-size: 1.5rem;
  line-height: 50px;
	padding: 5px;
		vertical-align: bottom;
}

.map_i{
  margin-top: 5rem;
}




